<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Page Title</title>
  </head>
  <body>
    <header>
      <h1>Player Analysis</h1>
    </header>

    <nav>
      <a href="#">Home</a>
      <a href="player">Players</a>
      <a href="#">Champions</a>
    </nav>

    <form action="{{ url_for('player') }}" method="post">
      <div class="player-search-container">
        <input
          type="text"
          name="player-search"
          class="player-search"
          placeholder="Query Player"
        />
      </div>

      <div class="tournament-selector-container">
        <select class="dropdown" name="tournament">
          <option value="" disabled selected>Select a tournament</option>
          <option value="LCS 2023 Summer">LCS 2023 Summer</option>
          <option value="LCS 2023 Spring">LCS 2023 Spring</option>
          <option value="LCS 2022 Summer">LCS 2022 Summer</option>
          <option value="LCS 2022 Spring">LCS 2022 Spring</option>
          <option value="LCS 2021 Summer">LCS 2021 Summer</option>
          <option value="LCS 2021 Spring">LCS 2021 Spring</option>
          <!-- Add more options as needed -->
        </select>
      </div>

      <button type="submit" class="submit-player-query">Submit</button>
    </form>

    <!-- Add this section to display the attributes -->
    <!-- {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %} -->

    {% if queried_player %}
    <div>
      <ul>
        <li>Queried Player: {{ queried_player }}</li>
        <li>Selected Tournament: {{ selected_tournament }}</li>
        <li>KDA: {{ kda }}</li>
        <li>CSPM: {{ cspm }}</li>
        <li>Champs Played: {{ champs_played }}</li>
        <li>Win Rate: {{ winrate }}</li>
        <li>Gold Percentage: {{ gold_percentage }}</li>
        <li>DPM: {{ dpm }}</li>
      </ul>
    </div>
    {% endif %}
  </body>
</html>
